@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 25%;
    --card: 60 56% 96%;
    --card-foreground: 20 14% 25%;
    --popover: 60 56% 96%;
    --popover-foreground: 20 14% 25%;
    --primary: 134 18% 54%;
    --primary-foreground: 134 20% 98%;
    --secondary: 60 40% 85%;
    --secondary-foreground: 20 14% 25%;
    --muted: 60 40% 88%;
    --muted-foreground: 20 10% 45%;
    --accent: 25 76% 44%;
    --accent-foreground: 25 70% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 84%;
    --input: 60 30% 86%;
    --ring: 134 18% 54%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 60 30% 92%;
    --card: 20 10% 14%;
    --card-foreground: 60 30% 92%;
    --popover: 20 10% 14%;
    --popover-foreground: 60 30% 92%;
    --primary: 134 18% 54%;
    --primary-foreground: 134 20% 98%;
    --secondary: 20 10% 20%;
    --secondary-foreground: 60 30% 92%;
    --muted: 20 10% 20%;
    --muted-foreground: 60 20% 60%;
    --accent: 25 76% 54%;
    --accent-foreground: 25 70% 98%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 25%;
    --input: 20 10% 25%;
    --ring: 134 18% 54%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
